<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>AZ Password Reset Success</title>
</head>
<body>
    <p>Dear, <span th:text="${firstname}"></span></p>
    <p>Your password has been successfully reset! Please visit the application and login with your new credentials.</p>
    <p>If you did not request a password reset, please contact your administrator.</p>
    <footer>
        <div>
            <p>With kind regards,<br>The AZ team</p>
        </div>
    </footer>
</body>
</html>